.card {
  position: relative;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 22px;
  box-shadow: var(--box-shadow);
  padding: 1.2rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card-body {
  margin-top: 1rem;
}

.card-footer {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-300);
}

.divider {
  height: 1px;
  background-color: var(--divider-color);
  margin: 1rem 0;
}

.remove {
  color: var(--red-dark) !important;
}

.card-actions {
  position: relative;
}

.action-button {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  background-color: var(--gray-200);
  color: var(--dark-400);
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-button:hover {
  background-color: var(--blue-accent-10);
  color: var(--blue-accent);
  transform: translateY(-1px);
}