.dropdown-menu {
  position: absolute;
  right: 0;
  top: 120%;
  min-width: 220px;
  background-color: var(--white-100);
  border: 1px solid var(--white-100);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  z-index: 20;
}

.dropdown-action {
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--dark-400);
}

.dropdown-action:hover {
  background-color: var(--white-200);
  color: var(--blue-accent);
}