.form-group {
  display: grid;
  gap: 0.45rem;
  margin-bottom: 1rem;
}

.form-label {
  font-weight: 800;
  font-size: 0.9rem;
  color: var(--dark-400);
}

.form-input {
  width: 100%;
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius);
  padding: 0.8rem 0.95rem;
  outline: none;
  background-color: var(--white-100);
  color: var(--dark-400);
  transition: all 0.2s ease;
}

.form-input::placeholder {
  color: var(--gray-700);
}

.form-input:focus {
  border-color: var(--blue-accent);
  box-shadow: 0 0 0 0.2rem var(--blue-accent-10);
}