.form-textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius);
  padding: 0.9rem;
  outline: none;
  background-color: var(--white-100);
  color: var(--dark-400);
  line-height: 1.5;
  transition: all 0.2s ease;
}

.form-textarea::placeholder {
  color: var(--gray-700);
}

.form-textarea:focus {
  border-color: var(--blue-accent);
  box-shadow: 0 0 0 0.2rem var(--blue-accent-10);
}